html {
  scroll-behavior: smooth;
}
.white-text {
    color:white;
    font-size: 45px;
}
.div-background{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}
#intro {
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('earth.jpg');
    z-index: 4;
}
#me_section {
    align-items: center;
    color: white;
    background-image: url('nasa.jpg');
}
#experience_section {
    /* align-items: center; */
    color: white;
    background-image: url('close_earth.jpg');
}
#projects_section {
    /* align-items: center; */
    color: black;
    background-image: url('night_sky.jpg');
}
#contact_section {
    align-items: center;
    color: white;
    background-color: black;
}
.project_deck {
    height: 30%;
}


.center-text {
    width:100%;
    text-align: center;
    /* font-family: 'archia'; */
    font-weight: 500;
    font-size:65px;
}

#fixed-position-on-page {
    position: fixed;
    top: 10%;
    right: 1%;
    z-index: 3;
    background-color: :black;
}
