html {
  scroll-behavior: smooth;
  background-color:black;
}
.white-text {
    color:white;
    font-size: 45px;
}
.div-background{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}
.center-text {
    width:100%;
    text-align: center;
}
.center-text > p {
    font-weight: 500;
    font-size:75px;
}
.center-text > h3 {
    font-size:25px;
}
#right_button {
    position: fixed;
    top: 50%;
    right: 10%;
    z-index: 3;
    background-color: black;
}

#fixed-position-on-page {
    color:yellow;
    position: fixed;
    top: 10%;
    right: 2%;
    /* z-index: 2; */
    background-color: black;
    display: none;
    width: 8%;
}