html {
  scroll-behavior: smooth;
}
.white-text {
    color:white;
    font-size: 45px;
}
.div-background{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
}
#intro {
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/earth.jpg');
    z-index: 4;
    position: relative;
}

.center-text {
    width:100%;
    text-align: center;
    /* font-family: 'archia'; */
    font-weight: 500;
    font-size:65px;
}

#fixed-position-on-page {
    position: fixed;
    top: 10%;
    right: 1%;
    z-index: 3;
    background-color: :black;
}
